nav{
    background-color: #ccc;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
dl, ol, ul{
    margin: 0;
}

nav ul{
    display: flex;
    align-items: center;
}

